@page
@model MascotaFeliz.App.Frontend.Pages.EditarVeterinariosModel
@{
}
<div class="text-center">
    <h2>Agregar o editar Veterinarios</h2>
</div>

<div class="principalForm">
    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="veterinario.Id" />
            <label asp-for="veterinario.Nombres"></label>
            <input asp-for="veterinario.Nombres" class="form-control" placeholder="Nombres">
            <label asp-for="veterinario.Apellidos"></label>
            <input asp-for="veterinario.Apellidos" class="form-control" placeholder="Apellidos">
            <label asp-for="veterinario.Direccion"></label>
            <input asp-for="veterinario.Direccion" class="form-control" placeholder="Direccion">
            <label asp-for="veterinario.Telefono"></label>
            <input asp-for="veterinario.Telefono" class="form-control" placeholder="Telefono">
            <label asp-for="veterinario.TarjetaProfesional"></label>
            <input asp-for="veterinario.TarjetaProfesional" class="form-control" placeholder="Tarjeta Profesional">
            <br>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

<a asp-page="./ListaVeterinarios" class="btn-default">Lista de Veterinarios </a>