@page
@model GlobalCar.App.Frondend.Pages.GitHubModel
@{
}
<body>
    <div class="text-center">
        <h2>MascotaFeliz.App</h2>
    </div>
    <p>
        Toda la documentacion se encuentra en el siguiente enlace:
    </p>
    <br>
    <a href="https://github.com/Proyecto-Imaster-Ciclo-3/MascotaFeliz.App">
        https://github.com/Proyecto-Imaster-Ciclo-3/MascotaFeliz.App
    </a>
</body>