@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
    <div class="text-center">
        <h2>Bienvenido a mascota feliz</h2>
    </div>
    

<main>
    <div class="cont-info">
        <video muted autoplay loop>
            <source src="~/video/video1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="cont-info">
        <img src="~/images/atencion.jpg" alt="img-info">
        <div class="text">
            <h2>Cuidado Basico <span>con nuestras mascotas </span></h2>
            <p>
                Una mascota es un miembro más de la familia y como tal debe tener todos los cuidados,
                más allá de solo hacerlo cuando se presentan enfermedades o se percibe que el animal lo
                necesita de urgencia, se pueden prevenir muchas enfermedades. "Si le brindas al animal
                una buena alimentación durante toda su vida, si está con sus vacunas al día y lo mantienes
                libre de pulgas y garrapatas, no se va a enfermar nunca"

            </p>
        </div>
    </div>
</main>
</body>