@page
@model MascotaFeliz.App.Frontend.pages.EditarDuenosModel
@{
}
<div class="text-center">
    <h2>Agregar o editar Dueños</h2>
</div>

<div class = "principalForm">
    <form method="post">
        <div class="form-group">
            <input type="hidden" asp-for="dueno.Id" />
            <label asp-for="dueno.Nombres"></label>
            <input asp-for="dueno.Nombres" class="form-control" placeholder="Nombres">
            <label asp-for="dueno.Apellidos"></label>
            <input asp-for="dueno.Apellidos" class="form-control" placeholder="Apellidos">
            <label asp-for="dueno.Direccion"></label>
            <input asp-for="dueno.Direccion" class="form-control" placeholder="Direccion">
            <label asp-for="dueno.Telefono"></label>
            <input asp-for="dueno.Telefono" class="form-control" placeholder="Telefono">
            <label asp-for="dueno.Correo"></label>
            <input asp-for="dueno.Correo" class="form-control" placeholder="Correo" type="email">
            <br>
            <button asp-page="./ListaDuenos type=" submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>
</div>

<a asp-page="./ListaDuenos" class="btn-default">Lista de Dueños </a>