@page
@model MascotaFeliz.App.Frontend.Pages.AsignarDuenoModel
@{
}
<div class="text-center">
    <h1>Asignar Dueño a Mascota</h1>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Raza</th>
        <th>Asignar Dueño</th>
    <tr>
    <tr>
        
        <!--
        
        <td>
            <label for="dueno">Dueño</label>
            <select name="Dueno" id="dueno" asp-for="mascota.Dueno.Id">
                <option value="0">Seleccione un Dueño</option>

            </select>
        </td>
        -->
    </tr>


</table>
<div>
    <a class="btn btn-primary table-btn" asp-page="./ListaMascotas" class="btn-default">Lista Mascotas</a>
</div>

<!--
    
    


    
-->


