@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}
<h1>Hola Mascotas</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Color</th>
    </tr>
    

</table>

